<% flash.each do |key, value| %>
    <%= content_tag :div, value, class: "flash #{key}" %>
<% end %>

<h2>Login</h2>

<%= form_tag("/login", method: "post") do %>
    <%= label_tag(:login, "Email/Username") %>
    <%= text_field_tag(:login) %> <br />

    <%= label_tag(:password, "Password") %>
    <%= password_field_tag(:password) %> <br />

    <%= submit_tag("Login") %>
<% end %>