<p><%= @event.formatted_event_date %></p>
<p><%= @shift.role %> <%= @shift.formatted_start_time %> - <%= @shift.formatted_end_time %></p>
<p>Skills Needed: <%= @skills %></p><br>

<p><%= @event.event_name %> <%= @event.location %></p>
<p><%= @event.formatted_event_date %></p>