<h1>Edit Existing Event</h1>

<%= form_tag event_path(@event), :method => :put do %>

  <md-input-container>
  <%= label :event, :event_name, 'Event Name' %>
  <%= text_field :event, :event_name %>
  </md-input-container><br>

  <%= label :event, :event_date, 'Event Date' %>
  <%= date_select :event, :event_date, order: [:month, :day, :year] %><br>

  <md-input-container><br>
  <%= label :event, :location, 'Location' %>
  <%= text_field :event, :location %>
  </md-input-container><br>

  <md-input-container>
  <%= label :event, :candidate, 'Candidate' %>
  <%= text_field :event, :candidate %>
  </md-input-container><br>

  <md-input-container>
  <%= label :event, :description, 'Event Description' %>
  <%= text_field :event, :description %>
  </md-input-container><br>

  <md-button>
  <%= submit_tag 'Save Changes' %>
  </md-button> <br>
  <%= link_to 'Back to Event',event_path(@event) %>
<% end %>
