<h1>Create New Event</h1>
<%= form_for(:event, url: events_path) do |f| %>

  <%= f.label :event_name, 'Event Name' %>
  <%= f.text_field :event_name %><br>

  <%= f.label :event_date, 'Event Date' %>
  <%= f.date_select :event_date, order: [:month, :day, :year], include_blank: true %><br>

  <%= f.label :location, 'Location' %>
  <%= f.text_field :location %><br>

  <%= f.label :candidate, 'Candidate' %>
  <%= f.text_field :candidate %><br>

  <%= f.label :description, 'Event Description' %>
  <%= f.text_field :description %><br>

  <%= submit_tag 'Create Event' %>

<% end %>
<%= link_to 'Back to Homepage', root_path %>