<h1>Create New Event</h1>
<div ng-controller="EventsController" ng-init="init()">
  <%= form_for(:event, url: events_path) do |f| %>

      <md-input-container>
        <%= f.label :event_name, 'Event Name' %>
        <%= f.text_field :event_name %>
      </md-input-container>
      <br>

      <md-datepicker ng-model="event.date">
      </md-datepicker>
      <br>

      <md-input-container>
        <%= f.label :location, 'Location' %>
        <%= f.text_field :location %>
      </md-input-container>
      <br>

      <md-input-container>
        <%= f.label :candidate, 'Candidate' %>
        <%= f.text_field :candidate %>
      </md-input-container>
      <br>

      <md-input-container>
        <%= f.label :description, 'Event Description' %>
        <%= f.text_field :description %>
      </md-input-container>
      <br>

      <md-button>
        <%= submit_tag 'Create Event' %>
      </md-button>
      <br>

  <% end %>
  <%= link_to 'Back to Homepage', root_path %>
</div>