<md-card>
<h2><%= @event.event_name %></h2>
<ul>
  <li>
    Location:
    <%= @event.location %>
  </li>
  <li>
    Event Date:
    <%= @event.event_date.strftime("%B %-d, %Y") %>
  </li>
  <li>
    <%= @event.number_signed_up %>
  </li>
  <li>
    Candidate:
    <%= @event.candidate %>
  </li>
</ul>

<h3>Description:</h3>
<p><%= @event.description %></p>

<% if can? :edit, @event %>
    <%= link_to 'Edit Event', edit_event_path(@event) %><br>
<% end %>
<% if can? :destroy, @event %>
    <%= link_to 'Delete Event', event_path(@event), method: :delete %><br>
<% end %>

</md-card>

<h3>Shifts</h3>

<% if can? :create_shift, @event %>
  <%= link_to 'Add Shift', new_event_shift_path(@event) %><br>
<% end %>

<div class='md-padding' layout='row' layout-wrap id="shifts">
  <% @event.ordered_shifts.each do |s| %>
  <div layout="column">
    <md-card>
    <%= s.formatted_start_time %> to <%= s.formatted_end_time %>, <%= link_to s.role, event_shift_path(@event, s) %> <br>
    </md-card>
  <% end %>
</div>
</div>

<%= link_to 'Back to Homepage', root_path %>
