<h2><%= @event.event_name %></h2>
<ul>
  <li>
    Location:
    <%= @event.location %>
  </li>
  <li>
    Event Date:
    <%= @event.event_date.strftime("%B %-d, %Y") %>
  </li>
  <li>
    <%= @event.number_signed_up %>  
  </li>
  <li>
    Candidate:
    <%= @event.candidate %>
  </li>
</ul>

<h3>Description:</h3>
<p><%= @event.description %></p>

<h3>Shifts</h3>
  <div id="shifts">
    <% @event.ordered_shifts.each do |s| %>
      <%= s.formatted_start_time %> to <%= s.formatted_end_time %>, <%= link_to s.role, event_shift_path(@event, s) %> <br>
    <% end %>
  </div>

<% if can? :create_shift, @event %>
  <%= link_to 'Add Shift', new_event_shift_path(@event) %><br><br>
<% end %>

<% if can? :edit, @event %>
    <%= link_to 'Edit Event', edit_event_path(@event) %><br>
<% end %>
<% if can? :destroy, @event %>
    <%= link_to 'Delete Event', event_path(@event), method: :delete %><br>
<% end %>
