<h2><%= @event.event_name %></h2>
<ul>
  <li>
    Location:
    <%= @event.location %>
  </li>
  <li>
    Event Date:
    <%= @event.event_date.strftime("%B %-d, %Y") %>
  </li>
  <li>
    Candidate:
    <%= @event.candidate %>
  </li>
</ul>

<h3>Description:</h3>
<p><%= @event.description %></p>

<h3>Shifts</h3>
  <% @event.ordered_shifts.each do |s| %>
    <%= s.formatted_start_time %> to <%= s.formatted_end_time %>, <%= link_to s.role, shift_path(s) %></br>
  <% end %>

<%= link_to 'Add Shift', new_shift_path(:event_id => @event.id) %><br><br>

<%= link_to 'Edit', edit_event_path(@event) %><br>
<%= button_to 'Delete', event_path(@event), :method => :delete%><br>
