<h1>Edit Existing Shift</h1>

<%= form_tag event_shift_path(@event, @shift), :method => :put do %>
    <%= label :shift, :role, 'Shift Role' %>
    <%= text_field :shift, :role %>

    <%= label :shift, :start_time, 'Start Time' %>
    <%= time_select :shift, :start_time, ampm: true %>

    <%= label :shift, :end_time, 'End Time' %>
    <%= time_select :shift, :end_time, ampm: true %>

    <%= label :shift, :has_limit, "Shift Has Limit" %>
    <%= check_box :shift, :has_limit %>

    <%= label :shift, :limit, "Shift Limit" %>
    <%= text_field :shift, :limit %>

    <br/>
    <br/>
    <%= submit_tag 'Save Changes' %>
    <%= link_to 'Back to Event', event_path %>

<% end %>
