<h1>Create New Shift</h1>
<%= form_tag shifts_path do %>

  <%= label :shift, :start_time, 'Start Time' %>
  <%= text_field :shift, :start_time %><br>

  <%= label :shift, :end_time, 'End Time' %>
  <%= text_field :shift, :end_time %><br>

  <%= label :shift, :role, 'Shift Role' %>
  <%= text_field :shift, :role %><br>

  <%= label :shift, :has_limit, 'Shift Has Limit' %>
  <%= check_box :shift, :has_limit %><br>

  <%= label :shift, :limit, 'Shift Limit' %>
  <%= text_field :shift, :limit %><br>

  <%= hidden_field :shift, :event_id, :value => @event.id %>

  <%= submit_tag 'Add Shift' %>

<% end %>
<%= link_to 'Back to all events', events_path %>