<h2><%= @shift.role %></h2>

Description: <%= @shift.description %> <br>

<div>
  <md-icon aria-label="Time" class="material-icons">access_time</md-icon>
  <span><%= @shift.formatted_start_time %> - <%= @shift.formatted_end_time %> </span>
</div><br>

<% if @shift.has_limit %>
    <%= @shift.volunteer_commitments.length %>/<%= @shift.limit %> slots filled
<% end %><br>

Skills: <%= @shift.skills.pluck(:description).join ', ' %><br>

<% if not @user.nil? %>
    <% if current_user.signed_up_for? @shift %>
      <%= link_to 'Leave', "/user/leave_shift/#{@shift.id}" %> <br>
    <% elsif not @shift.has_limit or @shift.volunteer_commitments.length < @shift.limit %>
      <%= link_to 'Join', "/user/join_shift/#{@shift.id}" %> <br>
    <% end %>
<% end %>
</br>

<% if can? :update, @shift %>
    <%= link_to 'View Volunteers', shift_viewUsers_path(@event, @shift) %> <br>
    <%= link_to 'Edit Shift', edit_event_shift_path(@event, @shift) %> <br>
<%end%>

<% if can? :create, @shift %>
    <%= link_to 'Add Shift', new_event_shift_path(@event) %> <br>
<% end %>

<% if can? :destroy, @shift %>
    <%= button_to 'Delete Shift', event_shift_path(@event, @shift), :method => :delete %> <br>
<% end %>

<%= link_to 'Back to Event', event_path(@event) %>
