<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <md-input-container>
      <%= f.label :login, 'Email/Username' %>
      <%= f.text_field :login, autocomplete: "off" %>
    </md-input-container>
    <br>

    <md-input-container>
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off" %>
    </md-input-container>
    <br>

    <md-button type="submit" class="md-raised md-primary">Login</md-button>

<% end %>

<!-- Reset password link -->
<br><%= link_to 'Forgot your password?', new_password_path(resource_name) %>

