<% flash.each do |key, value| %>
    <%= content_tag :div, value, class: "flash #{key}" %>
<% end %>

<h2>Signup</h2>

<%= form_tag("/signup", method: "post") do %>
    <%= label_tag(:email, "Email") %>
    <%= text_field_tag(:email) %> <br />

    <%= label_tag(:username, "Username") %>
    <%= text_field_tag(:username) %> <br />

    <%= label_tag(:password, "Password") %>
    <%= password_field_tag(:password) %> <br />

    <%= label_tag(:password_confirmation, "Confirm Password") %>
    <%= password_field_tag(:password_confirmation) %> <br />

    <%= label_tag(:city, "City") %>
    <%= text_field_tag(:city) %> <br />

    <%= label_tag(:state, "State") %>
    <%= text_field_tag(:state) %> <br />

    <%= label_tag(:zip_code, "Zip Code") %>
    <%= text_field_tag(:zip_code) %> <br />

    <%= label_tag(:phone_number, "Phone Number")%>
    <%= text_field_tag(:phone_number) %> <br />

    <%= submit_tag("Sign Up") %>
<% end %>