<div id = flash>
 <% if flash[:error] %>
  <p><%= flash[:error] %></p></br>
 <% end %>
 <% if flash[:notice] %>
  <p><%= flash[:notice] %></p></br>
 <% end %>
</div>

<strong>Name: <%= @event.event_name %></strong></br>
<strong>Date: <%= @event.event_date %></strong></br>
<strong>Candidate:<%= @event.candidate %></strong></br>
<strong>Description: <%= @event.description %></strong></br>
<strong>Location:<%= @event.location %></strong></br>
</br>
<strong><%= @numFreeShifts %> shifts available</strong>
<div>
 <% @shifts.each do |shift| %>
  <%= shift.start_time %> - <%= shift.end_time %> | <a href="/shift/<%=shift.id%>"><%= shift.role %></a>
  | <%= @num_volunteers[shift.id] %>/<%= shift.limit%> volunteers signed up </br>
  </br>
<% end %>
</div>