<md-card>
  <h2> Find a way to get involved </h2>
  <p>UpRise helps you find ways to put your skills to work in your community on issues that matter most to you!</p>
</md-card>


<div class='md-padding' layout='row' layout-wrap>
  <% Event.future_events.each do |e| %>
      <div flex-sm='33' flex-gt-sm='25' layout="column">

        <a href="<%= event_path(e) %>" >
          <md-card class="event-card">
            <h3 class="event-card-heading"><%= e.event_name %></h3>
            <h5 class="event-card-subtext"><%= e.formatted_event_date %></h5>
            <h5 class="event-card-subtext"><%= e.location %></h5>
            <h5 class="event-card-subtext"> <%= e.number_signed_up %> </h5>
          </md-card>
        </a>
      </div>
  <% end %>
</div>
