<!DOCTYPE html>
<html>
<head>
  <title>UpRise Shift Scheduler</title>

  <%= include_gon(init: true)%>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

</head>
<body ng-app='icsi-shift-scheduler'>

  <%= render 'shared/navbar' %>
  <%= render 'shared/error' %>
  <%= render 'shared/devise_error' %>

  <div class="content">
    <%= yield %>
  </div>

</body>
</html>
